.usuarioText{
    display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 700px;
  height: 320px;
  padding: 0px 10px;
  border: 1px solid;
  border-radius: 5px;
}
.tituloB{
    display: flex;
    position: relative;
    flex-direction: row;
    left: -20px;
    color: black;
    font-size: 40px;
    font-family: 'Montaga' bold;
    padding: 0px 50px;
}